.formDialog {
  flex-direction: column;
  align-items: flex-start;
}
.gridList{
  width: 600px;
}
.noUrl{
  display: grid !important;
  align-items: center !important;
  text-align: center;
}

.iconPreview{
  display:contents;

}
.botones{
  display:grid;
}
