  <mat-toolbar>
    <div *ngIf="currentSize == 'Small' || currentSize == 'XSmall'">
    <button mat-icon-button #menuButton>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

    <span>Mantenedor de productos</span>
<!--     <button mat-icon-button (click)="goHome()" style="margin-left: 20px;">
      <mat-icon>home</mat-icon>
      home
    </button> -->
<!--     <button mat-icon-button>
      <mat-icon>home</mat-icon>
      home
    </button>
    <button mat-icon-button>
      <mat-icon>categories</mat-icon>
      Categorías
    </button> -->
  </mat-toolbar>
